@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.container {
    display: flex;
    flex-direction: row;
}

.half {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.image-wrapper img {
    width: 100px;
    height: 100px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 120px;
    vertical-align: middle;
}

.arabica {
    background-color: floralwhite;
}

.image_ms2 {
     height: 50vh;
      display: flex;
  flex-direction: column;
    margin-left: 30px;
}
.title_ms2 {
    display: flex;
  flex-direction: column;
}

.robusta {
    background-color: floralwhite;
}

.coffee-image {
    position: relative;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 40%;
    max-width: 40%;
    margin-top: 40px;
}


.header__center {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.title {
    position: absolute;
    align-content: center;
    top: 30vh;
    left: 25vh;
    right: 25vh;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
    margin-left: 40px;
}

.first-progress-wrapper{
    margin-top: 40px;
}

.middle-progress-wrapper{
    margin-top: 10px;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-label {
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    min-width: 120px;
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    color: saddlebrown;
}

.progress-bar::-webkit-progress-value {
    background-color: green; /* Change this to the desired color */
}


.p1 {
    bottom: 5vh;
}

.progress {
    width: 100%; /* make the progress bar fill the entire width of the container */
    height: 10px; /* set the height of the progress bar */
}

/* Set the width and height of the pages and center the text vertically */
body {
    margin: 0;
    padding: 0;
    height: 700vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
    scroll-snap-type: y mandatory;
}

#page0 {
    background-color: bisque;
     width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
}

.scroll-content {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
    width: max-content; /* Adjust width to fit the content */
}

.section {
    min-width: 100vw; /* Ensure each section occupies the full viewport width */
    flex-shrink: 0;
}

#page0 #sec1 {
  background-image: url("../imgs/coffee_website.png");
  background-size: cover;
  background-position: center;
}
/* Style the first page */
#page1 {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the second page */
/* first map */
#page2 {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 .country:hover{
    fill: black
}

#page2 g{
    color: #FDF1E7
}

#page2 #title{
    font-size: 28px;
    color: #FDF1E7;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

.canvas {
    min-height: 600px;
    min-width: 950px;
    background-color: rgb(170, 170, 150);
    padding: 10px;
    border-radius: 5px;
}

.tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #FDF1E7;
    font-size: 24px;
    margin-bottom: 5px;
}

.legend {
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.description a{
    text-decoration: none;
    color: #FDF1E7;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

#page3 {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4 {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page5 {
    background:#f5e4c9 linear-gradient(68deg,floralwhite 0%,floralwhite 50%, transparent 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5 #radar-chart {
      width: 700px;
      height: 700px;

    }
#page5 #content5 {
    position: absolute;
    height: 60vh;
    right: 10vh;
}

#page6 {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page7 {
    height: 100vh;
}

.cup {
    position: relative;
    width: 220px;
    height: 210px;
    border: 8px solid #ffefdb;
    box-shadow: 0 0 0 12px #352a22;
    border-radius: 10px 10px 60px 75px;
    background: url("../imgs/coffee.png");
    background-repeat: repeat-x;
    animation: filling 4s infinite;
    margin: 0 auto;

}

@keyframes filling {
    0% {
        background-position: 100px 100px;
    }

    50% {

    }

    100%{
    }

}

.cup .cup-handle {
    position: absolute;
    top: 10px;
    right: -74px;
    width: 65px;
    height: 120px;
    border: 12px solid #352a22;
    border-radius: 20px 10px 50px 20px;
}

.cup .steam {
    position: absolute;
    border-radius: 10px 2px;
    width: 8px;
    animation: steaming 2s infinite;
}

@keyframes steaming {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        filter: blur(.8px);
        transform: translateY(-10px);
    }
}

.cup .steam:nth-child(1) {
    top: -70px;
    left: 65px;
    height: 30px;
    background: #8e5a3423;
    animation-delay: .2s;
}

.cup .steam:nth-child(2) {
    top: -120px;
    left: 95px;
    height: 50px;
    background: #8e5a3454;
    animation-delay: .6s;
}

.cup .steam:nth-child(3) {
    top: -90px;
    left: 125px;
    height: 40px;
    background: #8e5a3433;
    animation-delay: 1s;
}

.slidecontainer {
    width: 50%; /* Width of the outside container */
    position: relative;
    top: -50px;
    text-align: center;
    margin-right: 30px;
    margin-top: 300px; /* Adjust the margin as needed */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: saddlebrown;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: saddlebrown;
    cursor: pointer;
}

.slider-label {
    position: absolute;
    top: -30px;
    font-size: 14px;
    font-weight: bold;
}

.left-label {
    position: absolute;
    left: 0;
    top: -20px; /* Adjust as needed */
}

.right-label {
    position: absolute;
    right: 0;
    top: -20px; /* Adjust as needed */
}

.middle-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px; /* Adjust as needed */
}

.dollar_title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    top: 10px;
    margin-right: 10px; /* Adjust the margin as needed */
}

.dollar_image {
    display: block;
    width: 90px;
    height: 90px;
}

.container_slider {
    position: absolute;
    text-align: center;
    margin-top: -80px;
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#year {
    font-size: 16px; /* Adjust the font size as needed */
}



@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
    font-size: 17px;
}
:root {
    --blue: #9abec1;
    --black: #333030;
    --red: #e92424;
}
/* .container{
  padding: 0 5rem;
} */

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    position: absolute;
    width: 80%;
    top: 0;
    z-index: 2;
}
.logo {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
}
.logo .dot {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.2rem;
    background: var(--black);
    border-radius: 50%;
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: var(--black);
    text-decoration: none;
    margin-right: 1rem;
}
a:hover {
    color: var(--blue);
}
.nav-links a::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--blue);
    width: 0%;
    transition: all ease-in-out 300ms;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links a:last-child {
    margin-right: 0rem;
}
.nav-links .active {
    color: var(--black);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: var(--red);
    background: linear-gradient(
            90deg,
            rgba(52, 1, 11, 1) 0%,
            rgba(121, 9, 9, 1) 36%,
            rgba(255, 0, 0, 1) 100%
    );
}
::-webkit-scrollbar-track {
    background: #e4a576;
}
::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(
            circle,
            rgba(52, 1, 11, 1) 0%,
            rgba(121, 9, 9, 1) 36%,
            rgba(255, 0, 0, 1) 100%
    );
}
::-webkit-scrollbar-button {
    display: none;
}
/* Hero */
.hero {
    background-image: url("../imgs/coffee_website-2.jpg");
    background-size: 1500px;
    padding: 5rem 10% 0rem 10%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
}
.hero-bg {
    background: var(--black);
    width: 65rem;
    height: 37rem;
    border-radius: 20rem;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index: 0;
    right: -15.3rem;
    top: -10rem;
}
.hero-bg img {
    transform: rotate(45deg);
    height: 35rem;
    margin-left: 7rem;
    margin-bottom: 0rem;
}
.hero .intro {
    position: absolute;
    margin-bottom: 7rem;
    margin-right: 100px;
    z-index: 1;
}
.hero .intro h1 {
    font-size: 70px;
}
.hero .intro h2 {
    margin: 1rem 0;
    font-size: 35px;
}
.hero .intro button {
    background: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    box-shadow: 10px 10px 24px -1px rgba(123, 123, 123, 0.75);
}
.scroll {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    z-index: 2;
}
.scroll a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.scroll a:hover {
    color: var(--black);
}
.scroll .svg {
    margin-right: 0.5rem;
}
/* brands */
.brands {
    min-height: 100vh;
    padding: 7rem 10%;
    position: relative;
    overflow: hidden;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.brand:last-child {
    margin-bottom: 0rem;
}
.brand h2 {
    font-size: 60px;
    color: var(--black);
    margin-bottom: 1rem;
}
.brand img {
    height: 15rem;
}
.brand .img {
    flex: 1;
}
.brands .desc {
    flex: 1;
}
.row-reverse {
    flex-direction: row-reverse;
}
.brand.row-reverse .img {
    display: flex;
    justify-content: flex-end;
}
.brands .bottom-img {
    position: absolute;
    right: -15rem;
    bottom: -4rem;
    z-index: 2;
}
/* Footer */
footer {
    color: white;
    background: var(--black);
    padding: 3rem 0;
    text-align: center;
}
footer .logo {
    justify-content: center;
    margin-bottom: 2rem;
}
footer .logo .dot {
    background: var(--blue);
}
footer h3 {
    color: var(--blue);
    margin-bottom: 0.5rem;
}
footer p {
    width: 50%;
    margin: 0 auto 1rem auto;
    color: rgb(156, 156, 156);
}
footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--blue);
    margin-right: 0.5rem;
}
footer .social a:last-child {
    margin-right: 0;
}
footer .social svg {
    color: white;
}
#check,
.menu {
    display: none;
}
/* Responsive */
/* @media (max-width: 375px) { */
@media (max-width: 750px) {
    /* Nav */
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: rgb(20, 20, 20);
        padding: 2rem;
        right: -250px;
        transition: all ease-in-out 500ms;
        z-index: 98;
    }
    .nav-links a {
        display: inline-block;
        margin: 0;
    }
    .menu {
        cursor: pointer;
        background: var(--black);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 2.5rem;
        z-index: 99;
    }
    #check:checked ~ .nav-links {
        right: 0;
    }

    /* Hero */
    .hero .intro{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: space-around;
        text-align: center;
    }
    .hero .intro h1 {
        font-size: 50px;
    }
    .hero .intro h2 {
        font-size: 25px;
    }
    .hero-bg{
        width: 32rem;
        height: 12rem;
        right: -13rem;
        top: 14rem;
    }
    .hero-bg img{
        height: 14rem;
        margin-left: 2rem;
    }
    /* brands */
    .brand{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5rem;
    }
    .brand h2{
        font-size: 25px;
    }
    .brand img{
        height: 9rem;
        margin-bottom: 2rem;
    }
    .brands .bottom-img{
        right: -17rem;
        bottom: -9rem;
    }
    /* Footer */
    footer p {
        width: 80%;
    }
}
