@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

.container {
    display: flex;
    flex-direction: row;
}

.half {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.image-wrapper img {
    width: 100px;
    height: 100px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 120px;
    vertical-align: middle;
}

.arabica {
    background-color: floralwhite;
}

.image_ms2 {
     height: 50vh;
      display: flex;
  flex-direction: column;
    margin-left: 30px;
}
.title_ms2 {
    display: flex;
  flex-direction: column;
}

.robusta {
    background-color: floralwhite;
}

.coffee-image {
    position: relative;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 40%;
    max-width: 40%;
    margin-top: 40px;
}


.header__center {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.title {
    position: absolute;
    align-content: center;
    top: 30vh;
    left: 25vh;
    right: 25vh;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
    margin-left: 40px;
}

.first-progress-wrapper{
    margin-top: 40px;
}

.middle-progress-wrapper{
    margin-top: 10px;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-label {
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    min-width: 120px;
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    color: saddlebrown;
}

.progress-bar::-webkit-progress-value {
    background-color: green; /* Change this to the desired color */
}


.p1 {
    bottom: 5vh;
}

.progress {
    width: 100%; /* make the progress bar fill the entire width of the container */
    height: 10px; /* set the height of the progress bar */
}

/* Set the width and height of the pages and center the text vertically */
body {
    margin: 0;
    padding: 0;
    height: 700vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
    scroll-snap-type: y mandatory;
}

#page0 {
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the first page */
#page1 {
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the second page */
#page2 {
    background-color: rosybrown;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3 {
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4 {
    background-color: darksalmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5 {
    background-color: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page6 {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
